input {
    border: 1px solid silver;
    font-size: 16px;
    background-color: none;
    font-size: 16px !important;
}

input:focus {
    outline: none !important;
    border-color: #a0ceff;
    box-shadow: 0 0 3px #68affa;
}

label {
    font-size: 16px;
}

button {
    border: none;
    border-radius: 0px;
}

.inputField {
    padding: 3px;
    padding-left: 6px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin: 0px auto 0px;
    display : block;
    font-size: 16px !important;
}

.inputField2 {
    padding: 3px;
    padding-left: 6px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    display : block;
    font-size: 16px !important;
}

.inputGroup {
    margin-top: 1em;
    width: 100%;
}

.centerElement {
    margin: 0 auto;
}

.fullWidth {
    width: 100%;
    font-size: 18px;
}

.deleteButton {
    background-color: rgb(255, 111, 111); 
    border: 1px solid rgb(255, 85, 85);
    /* float: right; */
}

.deleteButton:hover {
    background-color: rgb(255, 85, 85); 
}

.deleteButton2 {
    background-color: rgb(255, 73, 73);
    border: 1px solid rgb(253, 39, 39);
    border-radius: 100%;
}

.deleteButton2:hover {
    background-color: rgb(255, 45, 45);
}

#formHeading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
}

.loginFormContainer {
    max-width: 350px !important;
    padding: 30px 40px;

    background-color: #fafafa;
    border: 1px solid rgb(219, 219, 219);
    /* padding: 20px 25px 30px; */
    margin: 0 auto 25px;
    margin-top: 70px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}