:root {  
  --primaryButton-body:rgb(37, 186, 255);
  --primaryButton-hover: rgb(38, 172, 235);

  --button1-body: rgb(153, 206, 255); 
  --button1-hover: rgb(119, 189, 255);
  --button1-active: rgb(96, 177, 252);
  --button1-active-border: rgb(72, 167, 255);
  --red: red;
  --pale-red:  rgb(255, 72, 72);

  --beige: #ffeead;  
  --yellow: #ffcc5c;  

  --task-body: rgb(240, 245, 255);
  --text-question-body:  rgb(255, 250, 240);
  --multiple-choice-question-body:  rgb(255, 240, 240);
}

.primaryButton {
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  background-color: var(--primaryButton-body);
  color: white;
  display : block;
  margin-top: 30px;
  margin-bottom: 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  font-size: 16px;
}

.secondaryButton {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: var(--primaryButton-body);
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 14px;
  margin-right: 20px; 
}

.primaryButton:hover, .secondaryButton:hover {
  background-color: var(--primaryButton-hover);
}

.mainDiv {
  background-size: 100% auto;
  min-height: 92vh;
  overflow: hidden;
  font-size: 100%;
}

#headingDiv {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#headingDiv > h1 {
  text-align: center;
}

#mainText {
  font-size: 4em;
  text-align: center;
}

#otherText {
  font-size: 2em;
}

.navbar:after{
}

.main-navbar {
  border-bottom: rgb(189, 189, 189) 1px solid;
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  padding-left: 5%;
  padding-right: 10%;
}

.navbar-navDiv {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.navDiv-link {
  float: left;
  color:rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

.navbar-navDiv li a:hover, .navbar-navDiv a:hover{
  color: rgb(82, 177, 255);
}


label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
  font-family: Verdana, sans-serif;
}

footer {
  height: 65px;
  width: 100%;
  background-color: rgb(27, 27, 27);
}



button:active {
  outline: none
}

button {
  outline: none
}
/* 
.btn-success {
  background-color: rgb(139, 185, 255);
  border-color: blue;
} */

.dropdown {
  display: inline-block;
  margin-right: 20px;
}

.dropdown-item {
  width: 100%;
  height: 100%;
  display: block;
  text-align: left;
  padding-left: 10px;
  border-bottom: 1px rgb(233, 233, 233) solid;
  border-radius: 3px;
  background-color: white;
}

.dropdown-item:hover {
  background-color: rgb(218, 237, 255);
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.dropDownButton {
  border-radius: 3px;
  background-color: var(--button1-body);
  display: block;
  text-align: left;
  padding-left: 10px;
  padding-right: 35px;
}
.dropDownButton:hover {
  background-color: var(--button1-hover);
}
.dropDownButton:active{
  background-color: var(--button1-active);
}


.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 2.5em 2.5em 2.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  /* overflow-y: auto; */
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 25em;
    max-height: calc(100% - 1em);
    padding-bottom: 10px;
  }
}

._modal-close {
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 0.5em;
  line-height: 1;
  background: var(--button1-body);
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  border-radius: 30px;
}

._modal-close-icon {
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 3;
}

._modal-close:hover {
  background: var(--button1-hover);
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.form-group label {
  text-align: left;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

.mainPageDiv {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.testContainer {
  background-color: rgb(212, 212, 212);
  padding: 10px;
  overflow: auto;
}

.dashboard-testBox {
  background-color: white;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 20px;
  float: left;
  width: 48%;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.testBox-testName {
  font-size: 1.5em;
  font-weight: 700;
  margin-right: 10px;
}

.testBox-seperator {
  margin-top: 10px;
  margin-bottom: 15px;
  border-top: 1px solid rgb(215, 236, 255);
}

.testStat-label {
  display: inline-block;
  min-width: 120px;
  font-weight: 700;
}


.createTest-content {
  width: 80%;
  margin: 0 auto;
}

.createTestInputBox {
  width: 90%;
  background-color: rgb(233, 233, 233);
  padding: 2%;
  border: 1px solid rgb(207, 207, 207);
  margin-bottom: 20px;
}

.createTestInputBox-heading {
  margin: 0px;
  margin-right: 20px;
  display: inline-block
}

.createTestInputBox-inputField {
  margin: 0px;
  margin-right: 20px;
  display: inline-block
}

.createTestInputBox-hr {
  border-color: white;
  margin: 10px 0 10px
}

.taskCreate {
  background-color: var(--task-body);
}

.textQuestionCreate {
  background-color: var(--text-question-body);
}

.multipleChoiceCreate {
  background-color: var(--multiple-choice-question-body);
}





.label-1 {
  margin: 0px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  /* width: 100px; */
  text-align: left;
}

.viewDetails-span {
  background-color: rgb(255, 255, 255, 0.8);
  border: 1px solid rgb(247, 247, 247);
  padding-left: 5px;
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 2px;
}



.tabButton, .tabButton-active {
  padding: 10px 20px 10px;
  font-size: 18px;
  border: 1px solid rgb(214, 214, 214);
}

.tabButton-active {
  background-color: gray;
  color: white;
}

.tabInactive {
  visibility: collapse;
}

.tabActive {
  visibility: visible;
}

.tabBody {
  border: 1px solid rgb(235, 235, 235);
  min-height: 70vh;
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px;
  margin-bottom: 8vh;
}

.genericChart {
  display: inline-block;
  border: 1px solid rgb(235, 235, 235);
  padding: 15px 15px 15px 5px;
  margin-bottom: 25px;
  margin-right: 2%;
  background-color: white;
}

.barChart {
  min-width: 350px;
}

.pieChart {
  padding: 0;
  padding-bottom: 0px;
  /* margin-bottom: 0px;
  margin-right: 0 ; */
  width: 100%;
  border: none;
  border: 1px solid rgb(235, 235, 235);
}

.hr2 {
  margin: 0px 0px 20px;
}

.chartHolder {
  padding: 10px 10px 10px 20px;
  background-color: rgb(248, 248, 248);
}

.apexcharts-legend-series {
  display: block;
  padding-right: 50px;
}


.apexcharts-legend, .apexcharts-legend-series {
  overflow: hidden !important;
}

.apexcharts-legend-text {
  display: inline-block;
  width: calc(100% - 15px);
}

.pieChartContainer {
  display: inline-block;
  width: 40%;
  /* padding-right: 10px; */
  /* border: 1px solid rgb(235, 235, 235); */
  margin-right: 30px;
  min-width: 500px;
  width: 500px;
}

.pieLegendBox {
  display: inline-block;
  padding-right: 150px;
  border: 1px solid gray;
}

.chartHeading {
  margin-bottom: 10px;
  margin-top: 5px;
}