
.mainDiv {
  background-size: 100% auto;
  min-height: 92vh;
  overflow: hidden;
  font-size: 100%;
}

#headingDiv {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#headingDiv > h1 {
  text-align: center;
}

#mainText {
  font-size: 4em;
  text-align: center;
}

#otherText {
  font-size: 2em;
}

.navbar:after{
}

.navbar {
  border-bottom: rgb(189, 189, 189) 1px solid;
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  padding-left: 5%;
  padding-right: 10%;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.nav-link {
  float: left;
  color:rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}


label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
  width: 100%;
  font-family: Verdana, sans-serif;
}

footer {
  height: 65px;
  width: 100%;
  background-color: rgb(27, 27, 27);
}