input {
    border: 1px solid silver;
    font-size: 16px;
    background-color: none;
}

input:focus {
    outline: none !important;
    border-color: #a0ceff;
    box-shadow: 0 0 3px #68affa;
}

label {
    font-size: 14px;
}

button {
    border: none;
    border-radius: 0px;
}

.inputField {
    padding: 3px;
    padding-left: 6px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin: 0px auto 0px;
    display : block;
}

.inputGroup {
    margin-top: 1em;
    width: 100%;
}

.primaryButton {
    width: 90px;
    height: 30px;
    background-color: rgb(37, 186, 255);
    color: white;
    margin: 0 auto;
    display : block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 16px;
}

#formHeading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
}

.loginFormContainer {
    max-width: 350px !important;
    padding: 30px 40px;

    background-color: #fafafa;
    border: 1px solid rgb(219, 219, 219);
    /* padding: 20px 25px 30px; */
    margin: 0 auto 25px;
    margin-top: 70px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}